@model MVC6_Seed_Project.Models.CompanyContacts

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>CompanyContacts</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ContactID" />
        <div class="form-group">
            <label asp-for="CellphoneNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CellphoneNo" class="form-control" />
                <span asp-validation-for="CellphoneNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyID" class="control-label col-md-2">CompanyID</label>
            <div class="col-md-10">
                <select asp-for="CompanyID" class="form-control" />
                <span asp-validation-for="CompanyID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateofBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Designation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TelephoneNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TelephoneNo" class="form-control" />
                <span asp-validation-for="TelephoneNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
