﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                            <a asp-controller="Companies" asp-action="Index">Companies</a>
                        </td>
                        <td>
                            <a asp-controller="CompanyContacts" asp-action="Index">Company Contacts</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>