@model MVC6_Seed_Project.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompRegNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompRegNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyRegDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyRegDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VatRegistered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VatRegistered)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.CompanyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
