@model MVC6_Seed_Project.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CompanyID" />
        <div class="form-group">
            <label asp-for="CompRegNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompRegNumber" class="form-control" />
                <span asp-validation-for="CompRegNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyRegDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyRegDate" class="form-control" />
                <span asp-validation-for="CompanyRegDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VATNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VATNumber" class="form-control" />
                <span asp-validation-for="VATNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="VatRegistered" />
                    <label asp-for="VatRegistered"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

