@model IEnumerable<MVC6_Seed_Project.Models.Company>

@{
    ViewData["Title"] = "Companies";
}

<h2>Companies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompRegNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyRegDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatRegistered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VATNumber)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.CompanyID">@Html.DisplayFor(modelItem => item.CompanyName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompRegNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyRegDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatRegistered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VATNumber)
        </td>
        <td>
            <a asp-action="Delete" asp-route-id="@item.CompanyID">Delete</a>
        </td>
    </tr>
}
</table>
